div.canvas 
{ 
    width:600px;
    height:400px;
    float:left;
    margin:2px; 
    background-color:rgb(227, 242, 96);
}

div.info 
{ 
    absolute:right;
    width:200px;
    height:400px;
    float:left;
    margin:2px; 
    background-color:rgb(98, 144, 236);
}