div.canvas 
{ 
    width:800px;
    height:600px;
    float:left;
    margin:2px; 
    /* background-color:rgb(227, 242, 96); */
}

div.info 
{ 
    width:200px;
    height:600px;
    float:left;
    margin:2px; 
    background-color:rgb(98, 144, 236);
}

canvas 
{ 
    width:600px;
    height:400px;
}